auto
/test/block-comment.tex
/test/markdown-el.html
/test/owl.tex
*elc
/.cask/
\#*\#
/dist
/org
/lentic-pkg.el
/local-lentic-autoloads.el
/lentic*org
/lentic-autoloads.el
/examples/lentic-orgel-org-big.org
/examples/block-comment.tex
/examples/orgel-org.org
